<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.441" targetFramework="net45" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net45" />
  <package id="FubuLocalization" version="0.9.5.124" targetFramework="net45" />
  <package id="FubuMVC.Core" version="1.1.0.1542" targetFramework="net45" />
  <package id="FubuMVC.Core.UI" version="1.0.1.611" targetFramework="net45" />
  <package id="FubuMVC.Core.View" version="1.0.0.534" targetFramework="net45" />
  <package id="HtmlTags" version="2.0.0.174" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>